---
import { Image } from "astro:assets"
import Button from "./Button"
import Logo from "/public/logo-black.svg"
import Hamburger from "./Hamburger"
---
<header class="container w-full mt-8 px-16 flex items-center justify-between">
    <div class="cursor-pointer size-fit">
        <Image src={Logo} alt="Positivus"/>
    </div>
    <nav class="flex items-center gap-8">
        <ul class="font-normal text-lg flex gap-8 cursor-pointer">
            <li class="hover:motion-preset-shake">About us</li>
            <li class="hover:motion-preset-shake">Services</li>
            <li class="hover:motion-preset-shake">Use Cases</li>
            <li class="hover:motion-preset-shake">Pricing</li>
            <li class="hover:motion-preset-shake">Blog</li>
        </ul>
        <Button variant="outline">
            Request a quote
        </Button>
        <Hamburger client:visible/>
    </nav>
</header>